* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header/*etiqueta*/
    {
    background-color: rgb(231, 158, 62);
    height: 80px;
    width: 100%;
    margin: auto;/* sorve para centrar un elemento para el 100% de ancho*/ 
}

footer{
    /*veroficar margin bottom cuando agregue contenido a .contenido*/
    height: 70px;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
}

.contenido{
    height: 800px;
    width: 100%;
    margin: auto;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin-bottom: 70px;
}