@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.kanit {
  font-family: "Kanit", sans-serif;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.fw200 {
  font-weight: 200;
}

header {
  background-color: rgb(11, 178, 184); /* color fondo */
  height: 80px;
  width: 100%;
  margin: auto; /* messive para centrar un elementoque no ocupe el 100% del espacio */
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* tamaños de texto principal */
header .mark {
  font-size: 20pt;
}
/* tamaños de los logos */
header .social {
  font-size: 24pt;
}
/* separacion de los logos */
.social a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.social a:hover {
  color: rgb(106, 197, 197);
  text-shadow: 0 0 6px rgb(180, 27, 27);
}
.contenedor-tarjeta{
   display: flex ; /* */
   gap: 20px;
}

.card {
  position: relative;
  height: 500px;
  /* width: 30px; */
  flex: 1 0 300px;
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 15px;
}

.card .img {
  width: 100%;
  height: 50%;
  background-color: black;
  margin-bottom: 10px;
}

.card .titulo {
  font-size: 18;
}
.card .boton {
  position: absolute;
  background-color: darkgray;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
}
.card .boton:hover {
  background-color: aqua;
  box-shadow: 0 0 6px rgb(180, 27, 27);
}

footer {
  height: 60px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.473);
  position: fixed;
  bottom: 0;
  line-height: 60px;
}
.contenido {
  height: 800px;
  width: 81%;
  margin: auto;
  background-color: #2dd9e6;
  background-image: linear-gradient(160deg, #a6cbe0 0%, #80d0c7 100%);
  margin-bottom: 20px;
}
