*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.gris{
    color: grey;
}
body{
    background-color: rgb(241, 238, 238);
}
img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
}
main{
    padding-left: 25px;
    padding-top: -20px;
}
.valor{
  position: relative;
  margin-top: -25px;
  margin-left:  80%;
  display: flex;
  background-color:white;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
 }
.titulo{
    font-size: 18pt;
}
.seccion{
    width: 250px;
    margin-top: 10px;
    /* justify-content: space-around; */
    display: flex;
    gap: 55px;
}
.over{
    color: cornflowerblue;
}
.numero{
    width: 10px;
}
.valoracion{
    padding-top:  10px;
    display: flex;
    gap: 55px;
    justify-content: center;
    margin: auto;
}
.texto{
    padding-top: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; /* Centra horizontalmente */
    background-color: rgb(26, 68, 146);
    width: 100%;
    height: 70px;
    justify-content: space-around;
    display: flex;
    border-radius: 30px 30px 0px 0px;
}
.precio{
    margin: auto;
}
.tit{
    font-size: 7pt;
    color: white;
}
.num{
    font-size: 14pt;
    color: white;
}
.boton{
    margin: auto;
    background-color: white;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.amarillo{
    color: rgb(218, 218, 17);
}
.celeste{
    color: lightblue;
}
.naranja{
    color:orange;
}